body {	
	margin: 0px 0px 0px 0px;
}
#menu {
	background-color: #ddd;
}

#menu ul {
	margin: 0px 0px 0px 0px;
}

#logo {
	width:60px;
}

#menu ul li {
	height:auto;
	margin: 5px 0px 5px 0px;
	border-radius:8px;
	display: inline-block;
	padding:5px;
	
	-webkit-transition: ease 0.3s;
	-moz-transition: ease 0.3s;
	transition: ease 0.3s;
	box-shadow:inset 0px 100px 0px #aaa;
}

#menu ul li a {
	color: black;
	text-decoration: none;
}

#menu ul li:hover{
	box-shadow:inset 0px 0px 0px #333;
	}
.W:hover{
	background: white;
	}
.F:hover{
	background:orange;
	}
.S:hover{
	background:#0181CD;
	}
.T:hover{
	background:#1FDA9A;
	}
	
.sticky {
  position: fixed;
  top: 0;
  width:100%;
}
