body {
font-family:"century gothic";
font-size:18px;
background: #FFFFFF url(../img/backgroundcats.png) repeat;
}


div.header {
background-color:#595960;
border-radius:8px;
margin:0px 0px 30px 0px;
padding:10px;
height:105px;
}
div.logo {
float:left;
width:100px;
height:100px;
border-radius:8px;
}
div.logo:hover {
background: #FFD800;
transition: 0.5s;
}
img.logo {
width:100px;
}
div.team_say {
float:left;
margin:5px 5px 5px 20px;
color:#FFFFFF;
}
p.f1 {
text-transform:uppercase;
font-size:140%;
letter-spacing:2px;
margin:0px;
padding:0px;
}
p.f2 {
font-size:120%;
text-indent:40px;
margin:0px;
padding:0px;
}
p.f3 {
font-size:100%;
text-indent:20px;
margin:0px;
padding:0px;
}
div.land {
width:80%;
margin-left:10%;
text-align:left;
}
hr{
color:#FFFFFF;
}

div.left_block{
width:20%;
float: left;
margin:0px;
padding:0px;
border-radius:8px;
}

div.center_block {
padding:20px;
width:70%;
float: left;
background-color:#F7F7F7;
border-radius:8px;
}

div.clear{
clear:left;
}
div.footer{
color:#fff;
margin:20px 0px 0px 0px;
text-align:left;
padding:20px;
background-color:#595960;
border-radius:8px;
}
p.menu {
margin:10px;
padding:10px;
background: #595960;
color: #000000;
border-radius:8px;
}
p.menu:hover {
background: #FFD800;
transition: 0.5s;
}
span.menu {
margin:10px;
padding:10px;
background: #595960;
color: #000000;
border-radius:8px;
}
span.menu:hover {
background: #FFD800;
transition: 0.5s;
}

/* unvisited link */
a:link {
color: #FFFFFF;
text-decoration: none;
}

/* visited link */
a:visited {
color: #FFFFFF;
text-decoration: none;
}

a:hover {
color: #FFFFFF;
}

/* selected link */
a:active {
color: #FFFFFF;
}
