body {
font-family:"century gothic";
font-size:18px;
background: #FFFFFF url(../img/fon.png) repeat;
}
div.header {
background-color:#595960;
border-radius:8px;
margin:0px 0px 10px 0px;
padding:10px;
height:105px;
}
div.underhead {
border-radius:8px;
margin:0px 5px 5px 19%;
padding:5px;	
height:20px;
font-size:70%;
}
div.team_say {
float:left;
margin:5px 5px 5px 20px;
color:#FFFFFF;
}

.headtext:hover {
color: #FFD800;
transition: 0.5s;
}
p.f1 {
text-transform:uppercase;
font-size:140%;
letter-spacing:2px;
margin:0px;
padding:0px;
}
p.f2 {
font-size:120%;
text-indent:40px;
margin:0px;
padding:0px;
}
p.f3 {
font-size:100%;
text-indent:20px;
margin:0px;
padding:0px;
}
div.land {
width:80%;
margin-left:10%;
text-align:left;
}
hr{
color:#FFFFFF;
}

div.center_block {
padding:20px;
width:70%;
margin-left:15%;
float: left;
background-color:#F7F7F7;
border-radius:8px;
}

div.clear{
clear:left;
}
div.footer{
color:#fff;
margin:20px 0px 0px 0px;
text-align:left;
padding:20px;
background-color:#595960;
border-radius:8px;
}
p.menu {
margin:10px;
padding:10px;
background: #595960;
color: #000000;
border-radius:8px;
}
p.menu:hover {
background: #FFD800;
transition: 0.5s;
}
span.menu {
margin:10px;
padding:10px;
background: #595960;
color: #000000;
border-radius:8px;
}
span.menu:hover {
background: #FFD800;
transition: 0.5s;
}

/* unvisited link */
a:link {
color: #FFF;
text-decoration: none;
}

/* visited link */
a:visited {
color: #FFF;
text-decoration: none;
}


hr{
margin:20px 0px 20px 0px;
}

a:hover {
color: #FFF;
}

/* selected link */
a:active {
color: #FFF;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
